.background {
    background-color: aquamarine;
    height: 100px;
    min-width:100%;
  }
  
  .container {
    display: flex;
  }
  .container.space-around {
    justify-content: space-around;
  }
  
  .margin {
    margin: 35px;
  }
  
  .highlight {
    background-color: whitesmoke;
  }
  
  